
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150.1rem;
}.home-rdw {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-tkqb-eph {
    background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
    flex-shrink: 0;
    margin-right: 0.1rem;
    box-sizing: border-box;
    padding: 0rem 19.8rem 0rem 20.2rem;
    width: 150rem;
    height: 87.7rem;

    .main-section-u1s {
      display: flex;
      padding: 1.8rem 0rem 14.2rem 0rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      align-items: flex-end;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;

      .auto-group-7n3b-XZ3 {
        margin: 0rem 0.3rem 12.3rem 0rem;
        width: calc(100% - 0.3rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .logo-bYu {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.4rem 21.7rem 0rem 0rem;

          .apple-watch-6Vf {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .mohid-xXs {
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.6rem;
          }
        }
        .frame-3-bsf {
          margin-bottom: 0.2rem;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .group-2-JXB {
            margin-right: 23.2rem;
            height: 2.4rem;
            display: flex;
            column-gap: 2.7rem;
            align-items: center;
            flex-shrink: 0;

            .home-BL5 {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #8b8e99;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .group-3-4em {
              box-sizing: border-box;
              padding-right: 0.375rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .brands-NfT {
                margin-right: 0.375rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #8b8e99;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .chevron-down-UCh {
                margin-top: 0.5rem;
                width: 0.75rem;
                height: 0.375rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .recent-products-YiM {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #8b8e99;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .contact-TaR {
              color: #8b8e99;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .about-D3o {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #8b8e99;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-1-viu {
            margin-bottom: 0.1rem;
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-13hj-rcZ {
              padding: 0.5rem 1.6rem 0rem 0rem;
              height: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              box-sizing: border-box;

              .search-nFK {
                margin-right: 1.538rem;
                width: 2.062rem;
                height: 2.3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .person-uqj {
                width: 2.2rem;
                height: 2.3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .auto-group-x7ey-pho {
              flex-shrink: 0;
              width: 2.3rem;
              height: 100%;
              position: relative;

              .shopping-cart-B2Z {
                width: 2.1rem;
                height: 2.3rem;
                position: absolute;
                left: 0;
                top: 0.5rem;
                object-fit: contain;
                vertical-align: top;
              }
              .ellipse-1-74d {
                position: absolute;
                left: 1rem;
                top: 0.1rem;
                background-color: #3858d6;
                border-radius: 0.65rem;
                width: 1.3rem;
                height: 1.3rem;
              }
              .item-1-2Bb {
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                height: 1.5rem;
                left: 1.5rem;
                font-size: 1rem;
                font-weight: 500;
                width: 0.4rem;
                position: absolute;
                top: 0;
                line-height: 1.5;
              }
            }
          }
        }
      }
      .auto-group-ykw9-i4R {
        height: 56.3rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .auto-group-tqzh-T21 {
          flex-shrink: 0;
          margin: 5.2rem 19.3rem 6.2rem 0rem;
          width: 44.8rem;
          height: calc(100% - 11.4rem);
          align-items: center;
          display: flex;
          flex-direction: column;

          .discover-most-suitable-watches-XGm {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            max-width: 44.8rem;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 1.2549999952;
          }
          .find-the-best-reliable-and-cheap-smart-watches-here-we-focus-on-product-quality-here-you-can-find-smart-watches-of-almost-all-brands-so-why-you-are-waiting-just-order-now-pWm {
            line-height: 1.2549999952;
            color: #8b8e99;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.7rem 4.9rem 0rem;
            max-width: 43.7rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .group-8-qAy {
            padding: 0.7rem 0.9rem 0.8rem 1.9rem;
            width: calc(100% - 0.5rem);
            height: 6rem;
            background-color: #ffffff;
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin: 0rem 0.3rem 0rem 0.2rem;
            box-sizing: border-box;

            .group-7-j1T {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .auto-group-yvvw-HYm {
                box-sizing: border-box;
                padding: 1.2rem 10rem 1.2rem 0rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .group-5-QtH {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 2.1rem;
                  height: 2.1rem;
                }
                .find-the-best-brands-YUh {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.2549999952;
                  color: rgba(139, 142, 153, 0.6999999881);
                }
              }
              .group-6-fZK {
                height: 100%;
                text-align: center;
                color: #ffffff;
                white-space: nowrap;
                border-radius: 0.9rem;
                width: 11.2rem;
                font-weight: 600;
                line-height: 1.2550000085;
                font-family: Poppins, 'Source Sans Pro';
                justify-content: center;
                font-size: 1.8rem;
                background-color: #3858d6;
                display: flex;
                align-items: center;
                flex-shrink: 0;
              }
            }
          }
        }
        .b2724d5bd682148b44a88441cad7bfa9fe6730original-removebg-preview-1-JcH {
          width: 46.1rem;
          height: 56.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .secondry-section-jhb {
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 7.3rem;
    width: calc(100% - 40.1rem);
    position: relative;
    align-items: center;
    display: flex;
    margin: 0rem 20rem 0rem 20.1rem;

    .brand-yM3 {
      margin-bottom: 13.5rem;
      width: 110.2rem;
      height: 23.9rem;
      display: flex;
      column-gap: 2rem;
      align-items: center;
      flex-shrink: 0;

      .brand-1-UHo {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.6rem 5.4rem 4.474rem 4.1rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 2.2rem;

        .apple-watch-series7-black-myshop-pk-1-removebg-preview-1-aLq {
          margin-right: 2.6rem;
          width: 8.5rem;
          height: 14.8256rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ctiu-ebb {
          height: calc(100% - 2.1256rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.1rem 0rem 1.026rem 0rem;

          .apple-Apq {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #1d1d1d;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
          }
          .apple-is-one-of-the-most-famous-smart-watches-providing-company-6iV {
            font-weight: 500;
            line-height: 1.2125;
            color: #8b8e99;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 14.8rem;
            font-size: 1.6rem;
          }
        }
      }
      .brand-2-nrD {
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 2.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.6rem 2.4rem 4.3rem 4rem;
        height: 100%;
        display: flex;

        .xiaomiredmiwatch2liteazul01l-removebg-preview-1-X37 {
          flex-shrink: 0;
          margin-right: 2.6608rem;
          width: 8.6392rem;
          height: 15rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-6pqm-ECR {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.1rem 0rem 3.1rem 0rem;
          height: calc(100% - 4.2rem);
          display: flex;

          .xiaomi-MH3 {
            margin-bottom: 0.5rem;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #1d1d1d;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .xiaomi-smart-watches-are-produced-by-mi-company-VPF {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #8b8e99;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.3rem;
            max-width: 17.4rem;
          }
        }
      }
      .group-9-Nhw {
        border-radius: 2.2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.6rem 3.6rem 4.3rem 3.9rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;

        .sd-removebg-preview-1-X53 {
          flex-shrink: 0;
          margin-right: 2.6294rem;
          width: 9.1706rem;
          height: 15rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-lhw9-FWq {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.1rem 0rem 1.6rem 0rem;
          height: calc(100% - 2.7rem);
          display: flex;

          .fitbit-P7F {
            color: #1d1d1d;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .fitbit-smart-watches-are-best-for-there-health-and-fitness-features-ivD {
            line-height: 1.2125;
            color: #8b8e99;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.3rem;
            max-width: 15.8rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
    }
    .title-ybF {
      flex-shrink: 0;
      margin: 0rem 37.35rem 6.2rem 37.35rem;
      width: calc(100% - 74.7rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .find-your-favourite-smart-watch-6fs {
        margin-left: 0.2rem;
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.2125;
        color: #3858d6;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .our-latest-products-o4V {
        font-weight: 700;
        line-height: 1.2125;
        color: #1d1d1d;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.6rem;
      }
    }
    .products-vQ1 {
      width: 110.2rem;
      height: 94.8rem;
      display: flex;
      column-gap: 5rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-gyws-TPw {
        flex-direction: column;
        flex-shrink: 0;
        width: 33.4rem;
        height: 100%;
        align-items: center;
        display: flex;

        .group-16-c1w {
          margin-bottom: 6rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-7bqm-9Gm {
            position: relative;
            background-color: #f6f6f6;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            width: 100%;
            height: 33.7rem;

            .mkuq3vw34frwatch-45-alum-midnight-nc-7svw34frwfco-removebg-preview-1-1-5gD {
              border-radius: 2.5rem;
              width: 25rem;
              height: 28.0032rem;
              position: absolute;
              left: 4.1rem;
              top: 2.9rem;
              object-fit: cover;
              vertical-align: top;
            }
            .add-to-cart-N9X {
              vertical-align: top;
              width: 3.8rem;
              height: 3.8rem;
              position: absolute;
              left: 28.1rem;
              top: 1rem;
              object-fit: contain;
            }
            .wish-list-VE9 {
              top: 5.6rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.8rem;
              height: 3.8rem;
              position: absolute;
              left: 28.1rem;
            }
          }
          .apple-smart-i-c3s {
            margin-bottom: 0.5244rem;
            text-align: center;
            font-weight: 600;
            flex-shrink: 0;
            font-size: 2.4rem;
            line-height: 1.5;
            color: #1e1d1d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-5-vqF {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.747rem 1.147rem 0rem;
            width: 10.4267rem;
            height: 1.4286rem;
          }
          .auto-group-ll73-eFT {
            margin: 0rem 7.4rem 0rem 7.2rem;
            width: calc(100% - 14.6rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .group-15-yHj {
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;
              margin-right: 0.3rem;
              width: 8.7rem;

              .item-30000-KMb {
                line-height: 1.2050000191;
                color: #8b8e99;
                white-space: nowrap;
                width: 8.1rem;
                left: 0.4rem;
                font-size: 2rem;
                font-weight: 500;
                font-family: Poppins, 'Source Sans Pro';
                height: 2.5rem;
                position: absolute;
                top: 0;
                text-align: right;
              }
              .line-1-2G1 {
                left: 0;
                top: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                width: 8.7rem;
                height: 0rem;
                position: absolute;
              }
            }
            .item-25500-A7K {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2050000827;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .group-16-tZ7 {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-ivl9-eHP {
            margin-bottom: 1.1rem;
            box-sizing: border-box;
            padding: 2.9rem 4.3rem 2.797rem 4.1rem;
            width: 100%;
            background-color: #f6f6f6;
            flex-shrink: 0;

            .mkuq3vw34frwatch-45-alum-midnight-nc-7svw34frwfco-removebg-preview-1-1-aB3 {
              width: 25rem;
              height: 28.0032rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
            }
          }
          .apple-smart-iv-4M7 {
            font-size: 2.4rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.5;
            color: #1e1d1d;
            white-space: nowrap;
            margin-bottom: 0.5244rem;
            text-align: center;
            font-weight: 600;
          }
          .frame-5-P8V {
            width: 10.4267rem;
            height: 1.4286rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.747rem 1.147rem 0rem;
          }
          .auto-group-rt25-ucd {
            margin: 0rem 7.4rem 0rem 7.2rem;
            width: calc(100% - 14.6rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .group-15-pzV {
              margin-right: 0.3rem;
              width: 8.7rem;
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;

              .item-45000-AYZ {
                white-space: nowrap;
                height: 2.5rem;
                position: absolute;
                left: 0.2rem;
                top: 0;
                text-align: right;
                font-weight: 500;
                width: 8.3rem;
                font-size: 2rem;
                line-height: 1.2050000191;
                color: #8b8e99;
                font-family: Poppins, 'Source Sans Pro';
              }
              .line-1-rgH {
                width: 8.7rem;
                height: 0rem;
                position: absolute;
                left: 0;
                top: 1.25rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-39900-bds {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2050000827;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
      .auto-group-vnc9-vAM {
        flex-shrink: 0;
        width: 33.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .group-16-fNq {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 6rem;
          width: 100%;
          align-items: center;

          .auto-group-h4am-ozq {
            width: 100%;
            background-color: #f6f6f6;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            box-sizing: border-box;
            padding: 2.9rem 4.3rem 2.797rem 4.1rem;

            .mkuq3vw34frwatch-45-alum-midnight-nc-7svw34frwfco-removebg-preview-1-1-YSd {
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
              width: 25rem;
              height: 28.0032rem;
            }
          }
          .apple-smart-ii-2sb {
            color: #1e1d1d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5244rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.5;
          }
          .frame-5-xmF {
            flex-shrink: 0;
            margin: 0rem 0.747rem 1.147rem 0rem;
            width: 10.4267rem;
            height: 1.4286rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-ecsb-ghF {
            flex-shrink: 0;
            margin: 0rem 7.4rem 0rem 7.2rem;
            width: calc(100% - 14.6rem);
            display: flex;
            align-items: flex-end;

            .group-15-RPw {
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;
              margin-right: 0.3rem;
              width: 8.7rem;

              .item-30000-AcR {
                position: absolute;
                left: 0.4rem;
                top: 0;
                font-size: 2rem;
                white-space: nowrap;
                width: 8.1rem;
                height: 2.5rem;
                text-align: right;
                font-weight: 500;
                line-height: 1.2050000191;
                color: #8b8e99;
                font-family: Poppins, 'Source Sans Pro';
              }
              .line-1-Ud7 {
                top: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                width: 8.7rem;
                height: 0rem;
                position: absolute;
                left: 0;
              }
            }
            .item-25500-RHT {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2050000827;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .group-16-MB7 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ztn1-W41 {
            padding: 2.9rem 4.3rem 2.797rem 4.1rem;
            width: 100%;
            background-color: #f6f6f6;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            box-sizing: border-box;

            .mkuq3vw34frwatch-45-alum-midnight-nc-7svw34frwfco-removebg-preview-1-1-Ekh {
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
              width: 25rem;
              height: 28.0032rem;
            }
          }
          .samsung-watch-pro-jhT {
            text-align: center;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 0.5244rem;
            font-size: 2.4rem;
            color: #1e1d1d;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .frame-5-TtM {
            width: 10.4267rem;
            height: 1.4286rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.747rem 1.147rem 0rem;
          }
          .auto-group-ocvo-bUm {
            width: calc(100% - 14.6rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 7.4rem 0rem 7.2rem;

            .group-15-Kff {
              width: 8.7rem;
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;
              margin-right: 0.3rem;

              .item-30000-sSH {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                height: 2.5rem;
                position: absolute;
                top: 0;
                font-weight: 500;
                line-height: 1.2050000191;
                color: #8b8e99;
                width: 8.1rem;
                left: 0.4rem;
                text-align: right;
                font-size: 2rem;
              }
              .line-1-nJM {
                width: 8.7rem;
                height: 0rem;
                position: absolute;
                left: 0;
                top: 1.25rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item-25500-vQZ {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2050000827;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-ii33-Fxd {
        width: 33.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-16-cYH {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 6rem;
          width: 100%;
          align-items: center;

          .auto-group-3p65-kPb {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            box-sizing: border-box;
            padding: 2.9rem 4.3rem 2.797rem 4.1rem;
            width: 100%;
            background-color: #f6f6f6;

            .mkuq3vw34frwatch-45-alum-midnight-nc-7svw34frwfco-removebg-preview-1-1-tEu {
              width: 25rem;
              height: 28.0032rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
            }
          }
          .apple-smart-iii-YaM {
            margin-bottom: 0.5244rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
            color: #1e1d1d;
            flex-shrink: 0;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .frame-5-H29 {
            margin: 0rem 0.747rem 1.147rem 0rem;
            width: 10.4267rem;
            height: 1.4286rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-iab3-CQ1 {
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 7.4rem 0rem 7.2rem;
            width: calc(100% - 14.6rem);

            .group-15-KzR {
              flex-shrink: 0;
              margin-right: 0.3rem;
              width: 8.7rem;
              height: 2.5rem;
              position: relative;

              .item-30000-m5j {
                font-family: Poppins, 'Source Sans Pro';
                height: 2.5rem;
                left: 0.4rem;
                top: 0;
                line-height: 1.2050000191;
                font-weight: 500;
                color: #8b8e99;
                white-space: nowrap;
                width: 8.1rem;
                position: absolute;
                text-align: right;
                font-size: 2rem;
              }
              .line-1-sPf {
                vertical-align: top;
                width: 8.7rem;
                height: 0rem;
                position: absolute;
                left: 0;
                top: 1.25rem;
                object-fit: contain;
              }
            }
            .item-25500-1km {
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2050000827;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .group-16-wuK {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-mdjr-6nD {
            width: 100%;
            background-color: #f6f6f6;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            box-sizing: border-box;
            padding: 2.9rem 4.3rem 2.797rem 4.1rem;

            .mkuq3vw34frwatch-45-alum-midnight-nc-7svw34frwfco-removebg-preview-1-1-piD {
              vertical-align: top;
              border-radius: 2.5rem;
              width: 25rem;
              height: 28.0032rem;
              object-fit: cover;
            }
          }
          .fitbit-max-1-7xD {
            margin-bottom: 0.5244rem;
            font-weight: 600;
            color: #1e1d1d;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
          }
          .frame-5-ehF {
            margin: 0rem 0.747rem 1.147rem 0rem;
            width: 10.4267rem;
            height: 1.4286rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-15500-ZZK {
            line-height: 1.2050000827;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 600;
          }
        }
      }
    }
    .auto-group-g53p-6JM {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 6.5rem 0rem 9.1rem 0rem;
      width: 100%;
      row-gap: 13.5rem;
      align-items: center;
      display: flex;

      .view-more-button-RLd {
        width: calc(100% - 90.4rem);
        height: 4.6rem;
        font-weight: 600;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin: 0 45.2rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.5;
        align-items: center;
        color: #ffffff;
        background-color: #3858d6;
      }
      .reviews-syK {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.1rem;
        width: 110.1rem;

        .auto-group-kamf-pNm {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 31.65rem 5.3rem 31.55rem;
          width: 100%;
          align-items: center;

          .here-are-our-some-of-the-best-clients-Y3s {
            color: #3858d6;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.2rem;
          }
          .what-people-say-about-us-2zd {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #1d1d1d;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
        .auto-group-fw5b-y9B {
          margin-bottom: 4.2rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-9-Weu {
            margin: 0.1rem 4.7rem 0rem 0rem;
            box-sizing: border-box;
            display: flex;
            background-color: #f6f6f6;
            padding: 3rem 4.666rem 3rem 3.432rem;
            height: 23.9rem;
            align-items: center;
            border-radius: 2.2rem;
            flex-shrink: 0;

            .sd-removebg-preview-1-1rZ {
              margin-right: 2.7384rem;
              width: 16.2301rem;
              height: 17.9rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1.5rem;
              flex-shrink: 0;
            }
            .auto-group-uqgm-Xpu {
              margin: 2.8rem 0rem 2.638rem 0rem;
              height: calc(100% - 5.438rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .hamza-faizi-s85 {
                color: #1d1d1d;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.2125;
              }
              .dont-waste-time-just-order-this-is-the-best-website-to-puschase-smart-watches-Cg9 {
                max-width: 25.2rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #8b8e99;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 0rem 1.5rem 0.134rem;
              }
              .stars-fpd {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-left: 0.5504rem;
                width: 10.9044rem;
                height: 1.662rem;
              }
            }
          }
          .group-9-aRo {
            background-color: #f6f6f6;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            box-sizing: border-box;
            padding: 3rem 4.245rem 3rem 3.471rem;
            align-items: center;
            height: 23.9rem;
            display: flex;
            border-radius: 2.2rem;

            .sd-removebg-preview-1-J6u {
              flex-shrink: 0;
              margin-right: 3.3681rem;
              width: 16.4159rem;
              height: 17.9rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1.5rem;
            }
            .auto-group-uhhs-DUm {
              margin: 3.1rem 0rem 2.438rem 0rem;
              height: calc(100% - 5.538rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .hafiz-huzaifa-kUh {
                line-height: 1.2125;
                color: #1d1d1d;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 2.4rem;
                font-weight: 700;
              }
              .ive-been-purchasing-smart-watches-of-mohid-for-a-long-time-all-the-products-are-good-quality-5ms {
                margin-bottom: 1.6rem;
                max-width: 25.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #8b8e99;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .stars-Zww {
                height: 1.662rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-left: 0.4956rem;
                width: 10.9044rem;
              }
            }
          }
        }
        .dots-GbT {
          margin: 0rem 46.9rem 0rem 49.8rem;
          width: calc(100% - 96.7rem);
          display: flex;
          column-gap: 1.1rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-3-PRB {
            border-radius: 0.9rem;
            flex-shrink: 0;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #d9d9d9;
          }
          .ellipse-4-iyF {
            border-radius: 0.9rem;
            flex-shrink: 0;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #d9d9d9;
          }
          .ellipse-5-f7o {
            border-radius: 0.9rem;
            flex-shrink: 0;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #d9d9d9;
          }
          .ellipse-6-c33 {
            width: 1.8rem;
            height: 1.8rem;
            background-color: #d9d9d9;
            border-radius: 0.9rem;
            flex-shrink: 0;
          }
          .ellipse-7-YSV {
            border-radius: 0.9rem;
            flex-shrink: 0;
            width: 1.8rem;
            height: 1.8rem;
            background-color: #3858d6;
          }
        }
      }
      .main-box-gYh {
        height: 37.7rem;
        background-color: #f6f6f6;
        border-radius: 2.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 0.1rem;
        box-sizing: border-box;
        padding: 3.3rem 11rem 4.3rem 9.7rem;
        width: calc(100% - 0.1rem);

        .auto-group-t345-nrd {
          flex-shrink: 0;
          margin: 7.4rem 17.8rem 7.4rem 0rem;
          width: 44.3rem;
          height: calc(100% - 14.8rem);
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-mycd-K5s {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 2.1rem;
            width: 100%;

            .subscribe-to-newsletter-G17 {
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #1d1d1d;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .get-free-guide-about-smart-watches-daily-nk9 {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #8b8e99;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .enter-box-KEH {
            background-color: #ffffff;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.7rem 0.9rem 0.8rem 3rem;
            width: 100%;
            height: 6rem;

            .group-7-Akh {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              border-radius: 0.9rem;

              .enter-email-address-jJ1 {
                flex-shrink: 0;
                margin-right: 11.3rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2549999952;
                color: rgba(139, 142, 153, 0.6999999881);
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .group-6-Sy7 {
                align-items: center;
                justify-content: center;
                width: 13.1rem;
                height: 100%;
                font-weight: 600;
                white-space: nowrap;
                display: flex;
                background-color: #3858d6;
                text-align: center;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                border-radius: 0.9rem;
                flex-shrink: 0;
                line-height: 1.2549999952;
              }
            }
          }
        }
        .sd-removebg-preview-1-JEd {
          vertical-align: top;
          border-radius: 1.5rem;
          flex-shrink: 0;
          width: 27.2rem;
          height: 30.1rem;
          object-fit: cover;
        }
      }
    }
  }
  .footer--yrZ {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2549999952;
    align-items: center;
    margin-right: 0.1rem;
    height: 6.5rem;
    position: relative;
    justify-content: center;
    background-color: #0b0b0b;
    width: calc(100% - 0.1rem);
    overflow: hidden;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    color: #ffffff;
    flex-shrink: 0;
  }
}
